h1{
    color: red;
}
h2{
    color: blueviolet;
}
a{
    color: greenyellow;
}
#first{
    color: black;
}
.box{
    width: 200px;
    border: 2px dashed blueviolet;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}